@using Senluo.Spellet.Models
@model IEnumerable<Course>

@{
    if (string.IsNullOrWhiteSpace(ViewBag.Title))
    {
        ViewBag.Title = "历史课程";
    }
    int preId = (int)ViewBag.pre;
    int nextId = (int)ViewBag.next;
    String preUrl = "student/course/history/" + preId.ToString();
    String nextUrl = "student/course/history/" + nextId.ToString();
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Content/Scripts/Student/history.js"></script>
<script type="text/javascript" src="~/Content/My97DatePicker/WdatePicker.js"></script>

<div id="historybody">
    @if (Model != null && Model.Any())
    {
        int count = Model.Count();
        int real = Math.Min(count, 8);
        for (int i = 0; i < count; i++)
        {
            if (i % 4 == 0)
            {
        <a href="~/student/course/words/@Model.ToArray()[i].ID" class="cloud-tiny margin70">
            @Model.ToArray()[i].Name
        </a>}
            else
            {
        <a href="~/student/course/words/@Model.ToArray()[i].ID" class="cloud-tiny ">
            @Model.ToArray()[i].Name
        </a>
            }
@*switch (i)
        {
            case 0:
    <a href="~/student/course/words/@Model.ToArray()[i].ID" class="cloud-tiny ">
        @Model.ToArray()[i].Name
    </a>
                break;
            case 1:
    <a href="~/student/course/words/@Model.ToArray()[i].ID" class="cloud-tiny ">
        @Model.ToArray()[i].Name
    </a>
                break;
            case 2:
    <a href="~/student/course/words/@Model.ToArray()[i].ID" class="cloud-tiny ">
        @Model.ToArray()[i].Name
    </a>
                break;
            case 3:
    <a href="~/student/course/words/@Model.ToArray()[i].ID" class="cloud-tiny ">
        @Model.ToArray()[i].Name
    </a>
                break;
            case 4:
    <a href="~/student/course/words/@Model.ToArray()[i].ID" class="cloud-tiny left-600">
        @Model.ToArray()[i].Name
    </a>
                break;
            case 5:
    <a href="words/@Model.ToArray()[i].ID" class="cloud-tiny left-500">
        @Model.ToArray()[i].Name
    </a>
                break;
            case 6:
    <a href="~/student/course/words/@Model.ToArray()[i].ID" class="cloud-tiny left-400">
        @Model.ToArray()[i].Name
    </a>
                break;
            default:
                break;
        }*@
        }
    }
    @if (preId > 0)
    {
        <a class="preNext pre" style="opacity: 0.1;" href="Javascript:void(0);" onclick="ajaxQuery(@preId);"></a>
    }
    @if (nextId > 0)
    {
        <a class="preNext next" style="opacity: 0.1;" href="Javascript:void(0);" onclick="ajaxQuery(@nextId);"></a>
    }
</div>
<div class="search">
    课程搜索 
    <span>From
        <input type="text" class="Wdate" id="txtStart" onclick="WdatePicker()" />
    </span>
    <span>To
        <input type="text" class="Wdate" id="txtEnd" onclick="WdatePicker()" />
    </span>
    <a href="Javascript:void(0);" onclick="ajaxQuery(1);"><span class="go2">Go</span></a>

</div>
