@using Senluo.UI.Mvc
@model IEnumerable<Senluo.Spellet.Models.Entry>

@{
    ViewBag.Title = "词库管理";
    Layout = "~/Areas/Admin/Views/Shared/_Master.cshtml";
    Pagination page = ViewBag.Pagination;
}
<script type="text/javascript">
    function search() {
        var val = $('input[name=searchTxt]').val();
        if (!val) return;
        window.location.href = '/admin/entry?key=' + val;
    }
    $(function () {
        $('.pronounce a').on('click', function () {
            var link = this;
            var audio = $(link).find('audio');
            audio[0].play();
        })
        $('.btn-search').on('click', function () {
            search();
        })
        $('input[name=searchTxt]').bind('keypress', function (e) {
            var key = window.event ? e.keyCode : e.which;
            if (key == "13") {
                search();
            }
        });
        $('.icon-cancel-2').on('click', function () {
            if (confirm("真的要删除吗？")) {
                var id = $(this).parent().attr('data-entry-id');
                $.ajax({
                    type: 'delete',
                    contentType:'application/json',
                    data: JSON.stringify({ ID: id }),
                    url:'/admin/entry',
                    success:function(result) {
                        if (result.success) {
                            window.location.reload();
                        } else {
                            $.error(result.msg);
                        }
                    }
                })
            }
        })
    })
</script>

<div>
    <nav class="navigation-bar white " style="width: 90%">
        <nav class="navigation-bar-content">

            <a class="element bd-black border" href="/admin/entry/create" type="button"><i class="icon-plus-2 on-left-more"></i>新增</a>

            <div class="element input-element place-right">
                <div class="input-control text">
                    @if (ViewBag.StartsWith.ToLower() == "true")
                    {
                        <input type="text" name="searchTxt" placeholder="Search..." />
                    }
                    else
                    {
                        <input type="text" name="searchTxt" placeholder="Search..." value="@ViewBag.Key"/>
                    }

                    <button class="btn-search"></button>
                </div>
            </div>
        </nav>
    </nav>
    <div class="" style="padding: 10px 0;">
        <div class="pagination">
            <ul>
                @if (string.IsNullOrWhiteSpace(ViewBag.Key))
                {
                    <li class="active"><a href="/admin/entry">全部</a></li>
                }
                else
                {
                    <li><a href="/admin/entry">全部</a></li>
                }
                @foreach (var key in "ABCDEFGHIJKLMNOPQRSTUVWXYZ".ToCharArray())
                {
                    if (key + "" == ViewBag.Key)
                    {
                    <li class="active"><a>@key</a></li>
                    }
                    else
                    {
                    <li><a href="/admin/entry?key=@key&startwith=true">@key</a></li>
                    }
                }
            </ul>
        </div>

        <div class="pagination" style="float: left;">

            <ul>
                <li class="first" title="首页"><a href="/admin/entry?key=@ViewBag.Key&skip=0&startwith=@ViewBag.StartsWith"><i class="icon-first-2"></i></a></li>
                <li class="prev" title="上一页"><a href="/admin/entry?key=@ViewBag.Key&skip=@page.PrevSkip&startwith=@ViewBag.StartsWith"><i class="icon-previous"></i></a></li>
                <li class="next" title="下一页"><a href="/admin/entry?key=@ViewBag.Key&skip=@page.NextSkip&startwith=@ViewBag.StartsWith"><i class="icon-next"></i></a></li>
                <li class="last" title="末页"><a href="/admin/entry?key=@ViewBag.Key&skip=@page.LastSkip&startwith=@ViewBag.StartsWith"><i class="icon-last-2"></i></a></li>
            </ul>

        </div>
        <div style="float: right; padding-right: 130px;">@string.Format("当前第{2}页/{3}条数据，共{0}页/{1}条数据", page.TotalPage, page.Count, page.CurrentPage, Model.Count())</div>
        <div style="clear: both;"></div>
        <div class="grid">
            <div class="row">
                @for (var index = 0; index < 3; index++)
                {
                    <div class="span4">
                        <div class="listview">
                            @for (var entryIndex = index; entryIndex < Model.Count(); entryIndex += 3)
                            {
                                var entry = Model.ElementAt(entryIndex);
                        
                                <div class="list bg-hover-lime">
                                    <div class="list-content">

                                        <div>

                                            <div class="item-title">
                                                <strong>@entry.Word</strong>
                                                <div class="entry-edit">
                                                    <a title="修改" href="/admin/entry/modify?id=@entry.ID"><i class="icon-cog fg-teal"></i></a>
                                                    <a title="删除" href="javascript:;" data-entry-id="@entry.ID"><i class="icon-cancel-2 fg-olive"></i></a>
                                                </div>
                                                
                                            </div>
                                            <div class="pronounce">
                                                <div class="phonetic">
                                                    英：<span class="text-muted">@entry.Phonetic_UK </span>
                                                    <a title="发音"><i class="icon-volume"></i>
                                                        <audio src="/resource/audio/@entry.Word[0]/@(entry.Word + "_1.mp3")"></audio>
                                                    </a>
                                                </div>
                                                <div class="phonetic">
                                                    美：<span class="text-muted">@entry.Phonetic_US</span>
                                                    <a title="发音"><i class="icon-volume"></i>
                                                        <audio src="/resource/audio/@entry.Word[0]/@(entry.Word + "_2.mp3")"></audio>
                                                    </a>
                                                </div>


                                            </div>
                                            <div class="">

                                                @if (entry.Translations != null)
                                                {
                                                    foreach (var tran in entry.Translations)
                                                    {
                                                    <div class="">@tran.Description</div>
                                                    }
                                                }
                                            </div>
                                            <ol class="">
                                                @if (entry.Examples != null)
                                                {
                                                    foreach (var example in entry.Examples)
                                                    {
                                                    <li class="" title="@example.Trans">@Html.Raw(example.Origin.Replace(entry.Word, string.Format("<em>{0}</em>", entry.Word)))</li>
                                                    }
                                                }
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                     
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


</div>
